<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Users/matthewpaxton/Desktop/Python/django/django_project/dinner_planner/main_app/static/css/style .css">
    <title>Add Ingredient</title>
</head>
<header>
    <button>Meal Wizard</button>
    <h1>Welcome {{ name }}</h1>
    <span><button>Home</button><button>Logout</button></span>
</header>

<body>
    
    <div class="addSection">
        <h2>Add an item to your pantry</h2>
        <div class="addFood">
            <form action="" method="POST">
                <div class="form-group row">
                    <label for="category" class="col-sm-4 col-form-label">Category:</label>
                    <div>
                        <select name="category" class="form-control" id="">
                            <option value="" disabled selected >Select food category</option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">Food name:</label>
                    <div>
                        <input type="text" class="form-control" name="name" >
                    </div>
                </div>

                <div class="form-group row">
                    <label for="quantity" class="col-sm-4 col-form-label">Quantity:</label>
                    <div>
                        <input type="number" class="form-control" name="" id="">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="date" class="col-sm-4 col-form-label">Use/Sell by date:</label>
                    <div>
                        <input type="date" class="form-control" name="date" id="">
                    </div>
                </div>

                <button>All done</button>
                <button><a href="">Add another item</a></button>

            </form>
        </div>
    </div>
</body>

</html>