<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <title>Kitchen</title>
    <title>Document</title>
</head>
<body>
    <h1>dashboard</h1>
    <a href="/logout">logout</a>


    <div class="login column">
        <h2>Find a Recipe</h2>
        <form action="/find_dinner" method="post">
            {%csrf_token%}
            <div class="form-group row"> <!-- input of desired total time in minutes-->
                <label class="col-sm-4 col-form-label" for="time">time</label>
                <div>
                    <input class="form-control" type="text" name="time">
                </div>
            </div>
            <div class="form-group row"> <!-- input first ingredient currently required-->
                <label class="col-sm-4 col-form-label" for="ingred1">ingredient 1</label>
                <div>
                    <input class="form-control" type="text" name="ingred1">
                </div>
            </div>

            <div class="form-group row"> <!-- input second ingredient currently required-->
                <label class="col-sm-4 col-form-label" for="ingred2">ingredient 2</label>
                <div>
                    <input class="form-control" type="text" name="ingred2">
                </div>
            </div>

            <div class="form-group row"> <!-- input third ingredient currently required-->
                <label class="col-sm-4 col-form-label" for="ingred3">ingredient 3</label>
                <div>
                    <input class="form-control" type="text" name="ingred3">
                </div>
            </div>
            
            <button>Submit</button>
        </form>
        <div>

            {{recipe_num.instructions}} <!-- currently printing instructions object working on getting to print individual steps in a list-->
        </div>
        <div>
            <ul>
                {%for recipe in ideas%} <!-- for loop prints ingredients in recipe dictionary-->
                <li>
                    {{recipe.ingredient.name}} <!-- recipe is a dict of ingredients and their measurements inside ideas list-->
                    {{recipe.extra_comment}}

                    {%if 0 < recipe.measurements.0.quantity|add:"0"%} <!-- displays only if quantity != 0 ie ingredient used as garnish or pinch of salt-->
                        {{recipe.measurements.0.quantity}} 
                    {%endif%}

                    {%if 1 < recipe.measurements.0.quantity|add:"0"%} <!-- displays plural or singular word form of the measurement ie 1 cup vs 2 cups of cheese-->
                        {{recipe.measurements.0.unit.display_plural}}
                    {% else %}
                        {{recipe.measurements.0.unit.name}}
                    {%endif%}

                </li>
                
                {%endfor%}
            </ul>
            
        </div>

    </div>
</body>
</html>