<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Users/matthewpaxton/Desktop/Python/django/django_project/dinner_planner/main_app/static/css/style .css">
    <title>Kitchen</title>
</head>
<header>
    <button>Meal Wizard</button>
    <h1>Welcome {{ name }}</h1>
    <button><a href="/logout">Logout</a></button>
</header>

<body>
    <h1>My Kitchen</h1>
    <div class="panelsAll">
        <div class="panel">
            <h2>Meats</h2>
            <button>
                <a href="">View all</a>
            </button>
            <button>
                <a href="">Add item</a>
            </button>
        </div>
        <div class="panel">
            <h2>Fruits</h2>
            <button>
                <a href="">View all</a>
            </button>
            <button>
                <a href="">Add item</a>
            </button>
        </div>
        <div class="panel">
            <h2>Vegetables</h2>
            <button>
                <a href="">View all</a>
            </button>
            <button>
                <a href="">Add item</a>
            </button>
        </div>
        <div class="panel">
            <h2>Grains</h2>
            <button>
                <a href="">View all</a>
            </button>
            <button>
                <a href="">Add item</a>
            </button>
        </div>
        <div class="panel">
            <h2>Spices/Herbs</h2>
            <button>
                <a href="">View all</a>
            </button>
            <button>
                <a href="">Add item</a>
            </button>
        </div>
        <div class="panel">
            <h2>Dairy</h2>
            <button>
                <a href="">View all</a>
            </button>
            <button>
                <a href="">Add item</a>
            </button>
        </div>




    </div>
</body>

</html>