<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />    
    <title>Kitchen</title>
</head>
<header>
    <button><a href="/dashboard">Meal Wizard</a></button>
    <h1>Welcome {{ user.first_name }}</h1>
    <button><a href="/logout">Logout</a></button>
</header>

<body>
    <h1>My Kitchen</h1>
    <div class="panelsAll">
        
        {% for category in categories %}
        <div class="panel">
            <h2>{{ category.name }}</h2>
            <button>
                <a href="view_all/{{ category.id }}">View all</a>
            </button>
            <button>
                <a href="/add_ingredient">Add item</a>
            </button>
        </div>
        {% endfor %}

<!-- <div class="panel">
            <h2>Meats</h2>
            <button>
                <a href="view_all/0">View all</a>
            </button>
            <button>
                <a href="/add_ingredient">Add item</a>
            </button>
        </div>


        <div class="panel">
            <h2>Fruits</h2>
            <button>
                <a href="view_all/1">View all</a>
            </button>
            <button>
                <a href="/add_ingredient">Add item</a>
            </button>
        </div>
        <div class="panel">
            <h2>Vegetables</h2>
            <button>
                <a href="view_all/2">View all</a>
            </button>
            <button>
                <a href="/add_ingredient">Add item</a>
            </button>
        </div>
        <div class="panel">
            <h2>Grains</h2>
            <button>
                <a href="view_all/3">View all</a>
            </button>
            <button>
                <a href="">Add item</a>
            </button>
        </div>
        <div class="panel">
            <h2>Spices & Herbs</h2>
            <button>
                <a href="view_all/4">View all</a>
            </button>
            <button>
                <a href="">Add item</a>
            </button>
        </div>
        <div class="panel">
            <h2>Dairy</h2>
            <button>
                <a href="view_all/5">View all</a>
            </button>
            <button>
                <a href="">Add item</a>
            </button>
        </div> -->




    </div>
</body>

</html>