<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />    
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <title>Recipe Wizard</title>
</head>
<body>
    
    <header>
        <button><a href="/home">Home</a></button>
        <h1>Welcome {{ user.first_name }}</h1>
        <span><button><a href="/logout">Logout</a></button></span>        
    </header>

    <div class="addSection">
        <div  class="addFood">
            <h2 class="centered">Find a Recipe</h2>
            <form action="/find_dinner" method="POST">
                {%csrf_token%}

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="time">How much time do you have?</label>
                    <div>
                        <input class="form-control" placeholder="(Minutes)" type="number" name="time" step='15' min="0">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="ingred1">Choose a Culture</label>
                    <div>
                        <select required class="form-control" type="text" name="category">
                            <option class="form-control" value="">Ethnicity</option><!-- ie ethnicity -->
                            <option selected value="">I'm uncultured (leave blank)</option>
                            <option value="brazilian">Brazilian</option>
                            <option value="carribean">Carribean</option>
                            <option value="chinese">Chinese</option>
                            <option value="french">French</option>
                            <option value="german">German</option>
                            <option value="greek">Greek</option>
                            <option value="indian">Indian</option>
                            <option value="italian">Italian</option>
                            <option value="korean">Korean</option>
                            <option value="latin_american">Latin American</option>
                            <option value="mexican">Mexican</option>
                            <option value="middle_eastern">Middle Eastern</option>
                            <option value="japanese">Japanese</option>
                            <option value="thai">Thai</option>
                            <option value="vietnamese">Vietnamese</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="ingred1">Choose Date Night or a Holiday</label>
                    <div>
                        <select required class="form-control" type="text" name="category">
                            <option class="form-control" value="">Holiday</option><!-- ie ethnicity -->
                            <option selected value="">None</option>
                            <option value="date_night">Date Night</option>
                            <option value="black_history_month">Black History Month</option>
                            <option value="christmas">Christmas</option>
                            <option value="easter">Easter</option>
                            <option value="tasty_holiday_hanukkah">Hannukah</option>
                            <option value="passover">Passover</option>
                            <option value="lunar_new_year">Lunar New Year</option>
                            <option value="halloween">Halloween</option>
                            <option value="thanksgiving">Thanksgiving</option>

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="ingred1">Choose a Category</label>
                    <div>
                        <select required class="form-control" type="text" name="category">
                            <option class="form-control" value="">Category</option><!-- ie ethnicity -->
                            <option selected value="">Leave blank</option>
                            <option value="one_pot_or_pan">One-Pot or Pan</option>
                            <option value="instant_pot">Instant Pot</option>
                            <option value="slow_cooker">Slow Cooker</option>
                            <option value="kid_friendly">Kid-Friendly</option>
                            <option value="bbq">BBQ</option>
                            <option value="seafood">Seafood</option>

                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="ingred1">Choose a Dietary Restriction</label>
                    <div>
                        <select required class="form-control" type="text" name="category">
                            <option class="form-control" value="">Allergy</option><!-- ie ethnicity -->
                            <option selected value="">None</option>
                            <option value="gluten_free">Vegetarian</option>
                            <option value="vegan">Vegan</option>
                            <option value="pescatarian">Pescatarian</option>
                            <option value="gluten_free">Gluten-Free</option>
                            <option value="dairy_free">Dairy-Free</option>
                            <option value="low_carb">Low-Carb</option>
                        </select>
                    </div>
                </div>

                <fieldset class="form-group">
                    <div id="ingredients" class="row"> 
                        <legend class="col-form-label col-sm-3 pt-0"> Ingredients: <span class="add">+ </span></legend>
                        <div class="col-sm-4">
                                <div class="ingredient" id="div_1">
                                    <input id="addItem" class="form-control" type="text" name="ingredient" value="{{ingredient.name}}"><br>
                                </div>
                        </div>        
                    </div>
                </fieldset>

                <button class="recipeButton">Get recipe recommendations!</button>
            </form>
        <div>
    </div>

    <div class="recipeList">
        {% for item in idea.results %}
        <div class="recipeBoxes">
                <h4><a href="/recipe/{{ item.id }}">{{item.name}}</a></h4>
                <img class="recipeImg" src="{{ item.thumbnail_url }}" alt="image of {{ item.name }}">
                <h6> Description: {{ item.description }}</h6>
        </div>
        {% endfor %}
    </div>






    <script>
        $(document).ready(function() {

            $('.add').click(function(){
                var ingredient_sum = $('.ingredient').length;
                var lastid = $(".ingredient:last").attr("id");
                var split_id = lastid.split("_");
                var nextindex = Number(split_id[1]) + 1; 
                var max = 5;
                if(ingredient_sum < max){
                    $(".ingredient:last").after("<div class='ingredient' id='div_"+ nextindex +"'></div><br>");
                    $("#div_" + nextindex).append("<input type='text' class='form-control' name='ingredient' id='txt_"+ nextindex +"'>&nbsp;<span style='color:red; font-size:12px; cursor:pointer;' id='remove_" + nextindex + "' class='remove'> Delete </span>");
                }
            });

            $('.remove').css('cursor', 'pointer');

            $('#ingredients').on('click','.remove',function(){
                var id = this.id;
                var split_id = id.split("_");
                var deleteindex = split_id[1];
                $("#div_" + deleteindex).remove();
            }); 


            $('.add').css('cursor', 'pointer');
            

        });
    </script>
</body>
</html>