<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Users/matthewpaxton/Desktop/Python/django/django_project/dinner_planner/main_app/static/css/style .css">
    <title>Ingredients</title>
</head>
<body>
    <header>
        <button>Meal Wizard</button>
        <h1>Welcome {{ name }}</h1>
        <span><button>Home</button><button>Logout</button></span>
    </header>

    <main class="tableArea">
        <h2 class="centered">{{ Category }}</h2>
        <div class="table">
            <table class="table table-striped table table-bordered table-sm ">
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Date added</th>
                    <th>Use/Sell by date</th>
                    <th></th>
                </tr>

                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>


            </table>
        </div>
    </main>





</body>
</html>