<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />    
    <title>Ingredients</title>
</head>
<body>
    <header>
        <button>Meal Wizard</button>
        <h1>Welcome {{ name }}</h1>
        <span><button><a href="/home">Home</a></button><button><a href="/logout">Logout</a></button></span>
    </header>

    <main class="tableArea">
        <h2 class="centered">{{ this_category.name }}</h2>
        <div class="table">
            <table class="table table-striped table table-bordered table-sm ">
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Date added</th>
                    <th>Use/Sell by date</th>
                    <th></th>
                </tr>
                {% for ingredient in category.ingredients.all %}
                <tr>
                    <td>{{ingredient.name}}</td>
                    <td>{{ingredient.quantity}}</td>
                    <td>{{ingredient.created_at}}</td>
                    <td>{{ingredient.expiration}}</td>
                </tr>
                {%endfor%}

            </table>
        </div>
    </main>





</body>
</html>